* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Sans-serif";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $mainOrange;
}

div {
    border: 1px solid black;
}