.feature-item {
  padding-left: 0;
  position: relative;
  padding-bottom: 1rem;

  @mixin atSmall {
    padding-left: 6rem;
    padding-bottom: 2.5rem;
  }
  &__icon {
    display: block;
    margin: 0 auto;
    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }
  &__title {
    margin-top: 0.8em;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    @mixin atSmall {
      margin-top: 0;
      font-size: 1.85rem;
      text-align: left;
    }
  }
}
