.nav-link {
  ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    list-style-type: none;

    @mixin atMedium {
      display: block;
    }
  }
  li:last-child {
    margin-right: 0;
    @mixin atMedium {
      margin-right: 20px;
    }
  }

  li {
    display: inline-block;
    flex: 1;

    margin-right: 10px;
    @mixin atMedium {
      float: left;
      margin-right: 20px;
    }
  }
  li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: rgba($mainBlue, 0.45);
    font-weight: 200;

    @mixin atMedium {
      padding: 12px 5px;
      background-color: transparent;
      font-weight: 400;
    }
    &.--active {
      color: $mainOrange;
    }
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
}
