.nav-link {
  font-weight: 200;

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    list-style-type: none;

    @mixin atMedium {
      display: block;
    }
  }
  li:last-child {
    @mixin atMedium {
      margin-right: 20px;
    }
  }

  li {
    display: inline-block;
    flex: 1;
    @mixin atMedium {
      float: left;
      margin-right: 20px;
    }
  }
  li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 5px;
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
}
