.row {
    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }
    @mixin atMedium {
        img {
            width: 100%;
        }
        &__b-margin-until-medium {
            margin-bottom: 0;
        }
        display: flex;
        &__1 {
            flex: 1;
        }
        &__1--larger {
            flex: 1.2;
        }
        &__2 {
            flex: 2;
        }
        &__2--smaller {
            flex: 1.8;
        }
        &--child-r-padding>div:not(:last-child) {
            padding-right: 65px;
        }
    }
}