.section-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-out;
  padding: 10px 0 13px 0;

  &--active {
    background-color: rgba($mainBlue, 0.55);
  }
  @mixin atMedium {
    background-color: rgba($mainBlue, 0.3);
    position: fixed;
    &--dark {
      background-color: rgba(23, 51, 72, 0.8);
    }
  }

  &__content {
    transition: all 0.3s ease-out;

    opacity: 0;
    z-index: -10;
    padding-top: 120px;
    text-align: center;
    transform: scale(1.2);
    @mixin atMedium {
      display: block;
      padding-top: 0;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
  &__content--active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }
  &__btn {
    margin-bottom: 5px;
    @mixin atMedium {
      float: right;
      margin-bottom: 0;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 0;
    transition: transform 0.3s ease-out;
    background-color: $mainBlue;
    padding: 15px 10px;
    @mixin atMedium {
      left: 10%;
      transform: translateX(0);

      .section-header--dark & {
        transform: scale(0.7);
      }
    }
  }
  &__menu-icon {
    width: 22px;
    height: 22px;

    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @mixin atMedium {
      display: none;
    }

    &::before {
      content: "";
      width: 22px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all 0.3s ease-out;
    }
    &__middle {
      width: 22px;
      height: 3px;
      background-color: #fff;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }
    &::after {
      content: "";
      width: 22px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all 0.3s ease-out;
    }
  }
  &__menu-icon--x {
    &::before {
      transform: rotate(45deg) scaleX(1.2);
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.2) translateY(-1px);
    }
    .section-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
  }
}
