.section-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-out;
  padding: 10px 0 12px 0;

  &--active {
    background-color: rgba($mainBlue, 0.55);
  }
  @mixin atMedium {
    background-color: rgba($mainBlue, 0.3);
  }

  &__content {
    transition: all 0.3s ease-out;

    opacity: 0;
    z-index: -10;
    padding-top: 120px;
    text-align: center;
    transform: scale(1.2);
    @mixin atMedium {
      display: block;
      padding-top: 0;
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
  &__content--active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }
  &__btn {
    margin-bottom: 5px;
    @mixin atMedium {
      float: right;
      margin-bottom: 0;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $mainBlue;
    padding: 20px 10px;
    @mixin atMedium {
      left: 10%;
      transform: translateX(0);
    }
  }
  &__menu-icon {
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;

    @mixin atMedium {
      display: none;
    }
  }
}
